img{
  height: 40px;
  width: 50px;
}
.search-div .form-control, .list-group-item {
  width: 30rem;
}

.search-div .search-width {
  width: 4.5rem;
  border-width: 0.15rem;
  border-left-width: 0.05rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.icon {
  position: relative;
  left: 2rem;
}

.card {
  box-shadow: -.3rem .3rem .3rem rgba(0, 0, 0, 0.25);
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.container .card {
  margin: 2rem;
}

.container .card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D3D3D3;
  border-radius: 0.2rem 0.2rem;
  border-bottom: rgb(117, 117, 117) solid 0.15rem;
}

.card-footer{
  cursor: pointer;
}